[submodule "src/HardwareManagers"]
	path = src/HardwareManagers
	url = git@github.com:laddcs/HardwareManagers.git
[submodule "src/gSDK"]
	path = src/gSDK
	url = git@github.com:brycetford/gSDK.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = git@github.com:PX4/px4_msgs.git
	branch = release/1.14
